/* ---------------   general   ---------------- */
:root {
  --blue: #0F025B;
  --purple: #7637FB;
  --black: #111;
  --white: #fff;
  --gray: #444;
}

body {
  margin: 0;
}

/* ---------------   app   ---------------- */

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: var(--blue);
  color: var(--white);

  font-size: 2rem;
}

/* ---------------   hero   ---------------- */

.hero-title {
  color: var(--white);
}

/* ---------------   search   ---------------- */

.search-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  width: 35%;
  border: none;
  border-radius: 60px;
  height: 4rem;
  padding-left: 20px;
}

.search-input {
  background-color: var(--white);
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  width: 70%;
  outline: none;
  margin: 5px;
}

.search-button {
  font-size: 1.5rem;
  border-radius: 60px;
  border: none;
  width: 29%;
  background-color: var(--purple);
  color: var(--white);
  margin: 5px
}

.search-button:hover {
  cursor: pointer;
}

/* ---------------   navbar   ---------------- */

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 20vh;
}

.navbar-logo {
  font-size: 3rem;
  padding-left: 25px;
}

.navbar-ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

.navbar-li {
  padding-right: 25px;
}

/* ---------------   Cards   ---------------- */

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--blue);

  color: var(--black);
  border: none;
  border-radius: 10px;
  height: 30vh;
  width: 100%;

  position: relative;
}

.cards-item {
  height: 25%;
  width: 30%;
  background-color: var(--white);
  border-radius: 10px;
  border: none;
  display: flex;
  font-size: 2rem;
}

#card1 {
  position: absolute;
  left: 5%;
  width: 20%;
  bottom: 60%;
  justify-content: center;
  align-items: center;
}

#card2 {
  position: absolute;
  width: 40%;
  bottom: 10%;
  justify-content: center;
  align-items: center;
}

#card3 {
  position: absolute;
  width: 20%;
  bottom: 30%;
  right: 5%;
  justify-content: center;
  align-items: center;
}

/* ---------------   Sections   ---------------- */

.section-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  color: var(--black);
  background-color: var(--white);
  height: 70vh;
  width: 100%;

}

.section-container:nth-child(odd) {
  flex-direction: row-reverse;
}

.section-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-title {
  font-size: 3.5rem;
  font-weight: 400;
}

.section-subtitle {
  font-size: 1.7rem;
  color: var(--gray);
  width: 40ch;
  position: relative;
  bottom: 20px;
}

.section-image {
  height: 60%;
  padding: 25px;
}

/* ---------------   Footer   ---------------- */

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: var(--blue);
  color: var(--white);
  height: 15vh;
  width: 100%;
}

.copyright-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  font-size: 1.7rem;
  padding-left: 1rem;
  position: relative;
  bottom: 0.1rem;
}

.footer-copyright {
  font-size: 0.9rem;
  padding-left: 1rem;
}

.footer-ul {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

.footer-li {
  padding-right: 25px;
}

.footer-a {
  color: var(--white);
  text-decoration: none;
  outline: none;
}

/* ---------------- result --------------------- */

.result-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  color: var(--white);
}

.result-title {
  font-size: 2.5rem;
}

.result-bar {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.progress-container {
  width: 20%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white);
  text-decoration: none;
  outline: none;
}
